body{
    background-color: rgb(201, 201, 201); 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}

.Barra_navegacion{
    z-index: 100;
    background-color: #333;
    position: fixed; 
    width: 100%; 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
}

.Botones_navegacion, .Botones_navegacion_inactivos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px; 
    margin-right: 25px;
}

.Botones_navegacion:hover{
    text-decoration: underline;
    color: #ffffff90
}

.Wrap {
    z-index: 200;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Sumario, .Vehiculos{
    margin: 40px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    
}

th {
    background-color: #dcdcdc;
}

.Fila_stock:hover{
    cursor: pointer;
    background-color: #dcdcdc;
}

.Imagenes_auto_filas{
    width: 140px;
    height: 80px;
    object-fit: cover;
    overflow-clip-margin: unset;
    border-radius: 5px;
}
