.form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input:not(.Botones_secundarios), .form-group select:not(.Botones_secundarios) {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b0b0b0;
}

.form-group select:hover{
  cursor: pointer;
  background-color: #929292;
}

.form-group input[type="file"] {
  padding: 5px;
}

.Cargar {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Cargar:hover {
  background-color: #0056b3;
}

.Botones_secundarios{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a7a7a7;
  color: rgb(0, 0, 0);
  width: 120px;
  margin-top: 10px;
}

.Botones_secundarios:hover{
  background-color: #6d6d6d;
  color: white;
}

textarea {
  width: 100%; 
  min-height: 200px; 
  resize: none; 
  background-color: #b0b0b0;
  border-radius: 5px; 
  border: none;
  padding: 5px;
}

.Separador{
  height: 1px; 
  width: 100%; 
  background-color: #0000007f; 
  margin-top: 16px; 
  margin-bottom: 16px;
}