body{
    /*background-color: #ebebeb;*/
    background-color: #222222;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    overflow-y: scroll;
}

.Barra_navegacion{
    z-index: 100;
    /*background-color: #333;*/
    background-color: #000000;
    position: fixed; 
    width: 100%; 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
    
}

.Botones_navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px; 
    margin-right: 25px;
}

.Botones_navegacion:hover{
    text-decoration: underline;
    color: #ffffff90
}

.Desplegable{
    background-color: #000000;
    border: #424242 1px solid; 
    border-top: none; 
    border-radius: 0 0 5px 5px;
}

.Links_barra{
    color: #dddddd;
}

.Buscador{
    color: #dddddd;
    background: none;
    border-radius: 5px;
    border: #ffffff8c 1px solid;
    padding: 5px;
    height: 36px;
    width: 256px;
}

.Buscador:focus{
    outline: none;
}

.Icono_buscar {
    color: #FFFFFF8C; 
    border-color: #FFFFFF8C; 
    background-image:url("../images/icon-search.png"); 
    background-repeat: no-repeat; 
    background-size: 30px; 
    background-position: center; 
    width: 50px;
}

.Wrap {
    z-index: 200;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Sumario, .Vehiculos{
    margin: 40px;
    background: #dddddd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    
}

.Select_orden {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b2b2b2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    font-size: 1rem; 
}/* rem es el multiplicador del tamanÌƒo de la fuente, disminuir a 0.9 u 0.8 si el texto no entra en la tabla de stock*/


th {
    background-color: #b2b2b2;
}

.Fila_stock:hover{
    cursor: pointer;
    background-color: #c5c5c5;
}

.Imagenes_auto_filas{
    width: 140px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}


.Vista_completa_wrapper{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: fixed; 
    height: 100%; 
    width: 100%;
    z-index: 200;
}

.Vista_completa_fondo{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
    background: #000000e8;
    border-radius: 8px;
}

.Vista_completa_auto{
    display: flex; 
    justify-content: space-between;
    width: 80%;
    height: 90%;
    background: #1a1a1a;
    border: #292929 2px solid;
    border-radius: 10px;
    padding: 40px;
    color: #ffffff;
}

.V_C_cerrar{
    position: fixed; 
    width: 100px; 
    right: 10px; 
    top: 10px;
    cursor: pointer;
}

.V_C_imagen{
    width: 500px; 
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.21); 
    margin-bottom: 20px;
    border-radius: 10px;
}

.V_C_col_left, .V_C_col_right{
    display: flex; 
    flex-direction: column;
    width: 50%;
}

.V_C_col_left{
    justify-content: center;
    align-items: center;
    text-align: left;
}

.V_C_col_right{
    justify-content: flex-start;
    align-items: left;
    font-size: 1.1rem;
    text-align: left;
}

.V_C_col_right h5{
    margin: 0;
    margin-bottom: 10px
}
