
/* ===== Scrollbar CSS ===== */  /* Hecho con la herramienta https://codepen.io/stephenpaton-tech/full/JjRvGmY */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


/*------------------------------------*/


/* Quitar color de autocompletado de chrome */

.Buscador, .Buscador:focus, .Buscador:hover{
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important;
  box-shadow: 0 0 0px 1000px #000000 inset !important;
  -webkit-text-fill-color: #dddddd !important;
}

.form-group input{
  -webkit-box-shadow: 0 0 0px 1000px #b0b0b0 inset !important;
  box-shadow: 0 0 0px 1000px #b0b0b0 inset !important;
  -webkit-text-fill-color: #000000 !important;
}

.form-group input:focus, .form-group input:focus{
  -webkit-box-shadow: 0 0 0px 1000px #929292 inset !important;
  box-shadow: 0 0 0px 1000px #929292 inset !important;
  -webkit-text-fill-color: #000000 !important;
}